*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    font-size: 62.5%;
}

body{
    display:flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 428px;
    height: 424px;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    background: #FFFFFF;
}

.card{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.8rem 6.4rem;
    gap: 1.7rem;
}

.msg{
    width: 293px;
    height: 107px;
    background: #E4EDF1;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
}

.msg p {
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding: 1rem;
}

h1{
    font-family: 'Montserrat';
    font-size: 24px;
    text-align: center;
    color: #34355B;
    margin-bottom: 1.4rem;
}

p{
    font-family: 'DM Sans'; 
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #34355B;
    margin-bottom: 2rem;
}

button{
    width: 174px;
    height: 52px;
    background: #FF9500;
    border-radius: 4px;
    border: none;

    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

